.footer {
  padding: 20px 0;
  p {
    text-align: center;
    font-size: 12px;
    @include sp {
      font-size: 9rem;
    }
    a {
      display: inline-block;
      margin-left: 5px;
      color: rgb(59, 93, 245);
    }
  }
}