* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html {
    box-sizing: border-box;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: calc(1 / 1500 * 100vw);
    &::-webkit-scrollbar {
        display: none;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    @include pc {
        max-width: 1200rem;
        padding-inline: 100rem;
    }
    @include sp {
        padding-inline: 50rem;
    }
}

body {
    overflow-wrap: break-word;
    width: 100%;
    min-height: 100%;
    line-height: 2;
    overflow-x: clip;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "HiraMinPro W3-83pv-RKSJ-H*", serif;
    // max-width: 1500px;
    &::-webkit-scrollbar {
        display: none;
    }
    &.is-menu-active {
        overflow: hidden;
    }
    &.stop {
        overflow: hidden;
    }
    &.is-loading {
        main {
            filter: blur(20px);
        }
    }
}

a {
    text-decoration: none;
    color: #000000;
    display: flex;
}


/** start title */

.bar {
    width: 10px;
    height: 80px;
    background-color: #71561d;
    @include pc {
        width: 10rem;
        height: 80rem;
    }
    @include sp {
        width: 15rem;
        height: 150rem;
    }
}

.content {
    .title {
        font-size: 30px;
        font-family: "Candara Light", sans-serif;
        color: #71561d;
        @include pc {
            font-size: 30rem;
        }
        @include sp {
            font-size: 50rem;
        }
    }
    .detail {
        font-size: 15px;
        color: #000000;
        @include pc {
            font-size: 15rem;
        }
        @include sp {
            font-size: 31rem;
        }
    }
}


/** end title */


/** start direction_button */

.topics {
    scale: 0.8;
    background: url(../img/direction_button.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 173rem;
    height: 56rem;
    padding: 14rem 27rem;
    font-size: 17rem;
    margin-right: -13rem;
    cursor: pointer;
    @include sp {
        cursor: pointer;
        width: 291rem;
        height: 94rem;
        padding: 14rem 27rem;
        font-size: 30rem;
        margin-right: -60rem;
    }
}


/** end direction_button */


/** start block_top */

.block_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    overflow-x: hidden;
    img {
        width: 320rem;
        height: 320rem;
        @include pc {
            width: 300rem;
            height: 300rem;
        }
        @include sp {
            width: 250rem;
            height: 250rem;
        }
    }
    div:nth-of-type(1) {
        margin-left: -50rem;
    }
    div:nth-of-type(2) {
        margin-right: -50rem;
    }
}


/** end block_top */


/** start Block_bottom */

.block_bottom {
    z-index: -1;
    margin-top: -230rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    overflow-x: hidden;
    @include pc {
        margin-top: -215rem;
    }
    @include sp {
        margin-top: -160rem;
    }
    img {
        width: 320rem;
        height: 320rem;
        @include pc {
            width: 300rem;
            height: 300rem;
        }
        @include sp {
            width: 250rem;
            height: 250rem;
        }
    }
    div:nth-of-type(1) {
        margin-left: -50rem;
    }
    div:nth-of-type(2) {
        margin-right: -50rem;
    }
}


/** end Block_bottom */


/** start Dropbutton */

.dropbtn {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 15rem;
    @include pc {
        padding: 60rem;
    }
    @include sp {
        padding: 30rem;
    }
    div {
        background-color: rgb(65, 60, 60);
        width: 50rem;
        height: 2rem;
    }
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-size: 16rem;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    background-color: #fff;
    display: none;
    @include pc {
        display: none;
    }
    @include sp {
        display: block;
    }
}

.dropdown-content {
    color: #ffffff;
    display: none;
    position: absolute;
    backdrop-filter: blur(10px);
    min-width: 420rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
    border-radius: 20rem;
    background-color: rgba(255, 254, 254, 0.6);
    padding: 10rem 10rem;
    .outline {
        outline: 1rem solid rgb(71, 69, 69);
        border-radius: 10rem;
    }
}

.dropdown-content a {
    padding: 12rem 16rem;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ffffff;
}

.show {
    display: block;
}


/** end Dropbutton */


/** start Social button */

.social-w {
    width: 20px;
    height: 20px;
    @include pc {
        width: 30rem;
        height: 30rem;
    }
    @include sp {
        width: 50rem;
        height: 50rem;
    }
}


/** end Social button */


/** start footer_bar */

.sec-footer {
    margin-top: 50rem;
    width: 100%;
    height: 421px;
    background: url(../img/footer_house/footer_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include pc {
        height: 421rem;
    }
    @include sp {
        height: 421rem;
    }
    &-top {
        background: url(../img/footer_house/footer_color.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 250px;
        @include pc {
            height: 90rem;
        }
        @include sp {
            height: 780rem;
        }
    }
    &-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
        @include pc {
            font-size: 15rem;
            gap: 5rem;
        }
        @include sp {
            font-size: 20rem;
        }
        button {
            background-color: #fff;
            padding: 6px 15px;
            outline: none;
            border-color: white;
            color: #735700;
            font-size: 12px;
            @include pc {
                font-size: 11rem;
                gap: 5rem;
                padding: 6rem 11rem;
            }
            @include sp {
                font-size: 20rem;
                padding: 6rem 15rem;
            }
        }
        .footer_01 {
            color: #fff;
        }
        .footer_02 {
            color: #fff;
            margin-top: 150px;
            @include pc {
                margin-top: 150rem;
            }
            @include sp {
                margin-top: 150rem;
            }
        }
        .footer_03 {
            display: flex;
            justify-content: space-between;
            @include pc {
                justify-content: space-between;
            }
            @include sp {
                justify-content: none;
            }
            flex-wrap: wrap;
            gap: 2px;
        }
        .footer_04 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 2px;
        }
    }
    .footer_house {
        // .group {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        flex-wrap: wrap;
        // width: 45%;
        .ft_img {
            width: 170px;
            height: auto;
            @include pc {
                width: 170rem;
                height: auto;
            }
            @include sp {
                width: 350rem;
                height: auto;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        @include pc {
            margin-top: 70rem;
        }
        @include sp {
            margin-top: 90rem;
        }
        // }
    }
    .footer_end {
        background-color: #735700;
        height: 200px;
        display: flex;
        @include pc {
            height: 200rem;
        }
        @include sp {}
        .footer_button_group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .footer_end {
                width: 200px;
                height: 49px;
                background: url(../img/footer_house/footer_end.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                @include pc {
                    width: 200rem;
                    height: 49rem;
                }
                @include sp {}
                a {
                    font-size: 12px;
                    color: #fff;
                    @include pc {
                        font-size: 12rem;
                    }
                    @include sp {}
                }
            }
            .footer_end_01 {
                width: 262px;
                height: 45px;
                background: url(../img/footer_house/footer_button.png);
                background-repeat: no-repeat;
                background-size: cover;
                @include pc {
                    width: 271rem;
                    height: 45rem;
                }
                @include sp {}
            }
        }
        .Copyright {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 60px;
            @include pc {
                margin-top: 60rem;
            }
            @include sp {}
            p {
                font-size: 15px;
                color: #fff;
                @include pc {
                    font-size: 15rem;
                }
                @include sp {}
            }
        }
    }
    .social {
        display: flex;
        gap: 50rem;
        align-items: center;
        a {
            scale: 0.8;
        }
    }
}


/** end footer_bar */