//breakpoint setting
$breakpoint: ( "xs": "screen and (max-width: 768px)", "sm": "screen and (max-width: 1024px)", "md": "screen and (max-width: 1280px)", "lg": "screen and (max-width: 1440px)", "xl": "screen and (max-width: 1920px)") !default;
@mixin responsive($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin pc {
    @media screen and (max-width: 1500px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 768px) {
        @content;
    }
}

:root {
    --grad-progress: 0;
    --intro-progress: 0;
    --g-padding-s: 36rem;
    --g-padding-m: 80px;
    --g-padding-l: 180rem;
    --g-color-base: #BDA13C;
    --g-color-brown: #5E370F;
    --g-color-yellow: #B99B34;
    --g-color-black: #000000;
    --g-color-white: #fff;
    --g-color-border: #707070;
    --g-color-grey: #EBEBEB;
    --g-color-red: #D33333;
    --g-color-green: #46b450;
    --g-color-orange: #ef6400;
    --g-color-pink: #D372EA;
    --g-color-blue: #02648E;
    --g-color-gray: #D2D6D7;
    @include pc {
        --g-padding-m: 80rem;
    }
    @include sp {
        --g-padding-m: 0;
    }
}

//font family
$font-noto: "Noto Serif JP",
serif;
$font-fude: 'TA_fuga_fude';
$font-timberline: 'Timberline';