@font-face {
    font-family: 'TA_fuga_fude';
    src: url('../fonts/Fuder.ttf');
    font-weight: 400;
}

// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
html {
    font-family: "Noto Serif JP", serif;
}

// @import url('https://db.onlinewebfonts.com/c/43ef2d72ef1daa8be5c5e68e2011e031?family=Timberline+W95+Icons');
._bold {
    font-weight: 700;
}

.u-font-en {
    font-family: 'MPLUS1';
}

//文字縦書き
@mixin vertical {
    writing-mode: horizontal-tb;
    white-space: nowrap;
    transform: rotate(90deg);
}