<section class="mv">
  <div class="mv__bg" style="background-image: url('assets/AdobeStock_297032152_Preview 1.png');"></div>
  <div class="mv__overlay"></div>
  <div class="mv__white-strips">
    <div class="mv__white-strip mv__white-strip--top">
      <span class="mv__strip-text">最高の<span class="mv__strip-highlight">仲間</span>と</span>
    </div>
    <div class="mv__white-strip mv__white-strip--bottom">
      <span class="mv__strip-text">最高の<span class="mv__strip-highlight">仕事</span>を。</span>
    </div>
  </div>
  <div class="mv__description-text">
    <span>リファラルリクルーティングで変わる組織づくり</span>
  </div>
  <div class="mv__content">
    <div class="mv__rectangle-overlay">
      <source media="(max-width: 900px)" class="mv__rectangle-img" srcset="alt="Content overlay"">
      <img src="assets/Rectangle 2929.png" alt="Content overlay" class="mv__rectangle-img">
    </div>
  </div>
</section>
